<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
<tr>
    <th>Id</th>
    <th>userName</th>
    <th>userPass</th>
    <th>userEmail</th>
    <th>userCountry</th>
</tr>
    <tr th:each="user:${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.userName}"></td>
        <td th:text="${user.userPass}"></td>
        <td th:text="${user.userEmail}"></td>
        <td th:text="${user.userCountry}"></td>
        <td><a href="#" th:href="@{userDelete/{id}(id=${user.id})}">delete</a></td>
        <td><a href="#" th:href="@{userUpdate/{id}(id=${user.id})}">update</a></td>

    </tr>
</table>
<a href="#" th:href="@{/userCreate}">create user</a>
</body>
</html>