<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:switch="${users}">
  <h2 th:case="null"> There are no users in db</h2>
  <div th:case="*">
    <h2>Persons list</h2>
    <table>
      <tr>
        <th>Id</th>
        <th>userName</th>
        <th>UserPass</th>
        <th>UserEmail</th>
        <th>userCountry</th>

      </tr>
      <tr th:each="user :${users}">
        <td th:text = "${user.id}"></td>
        <td  th:text = "${user.userName}"></td>
        <td  th:text = "${user.userPass}"></td>
        <td  th:text = "${user.userEmail}"></td>
        <td  th:text = "${user.userCountry}"></td>
        <td><a th:href="@{userDelete/{id}(id=${user.id})}">delete</a></td>
        <td><a th:href="@{userUpdate/{id}(id=${user.id})}" >Edit</a></td>
        <td><a th:href="send-email-form" >send email</a></td>
      </tr>
    </table>
  </div>
</div>
<a href="/userCreate" th:href="@{/userCreate}">Create user</a><br>
</body>
</html>